* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Rubik', sans-serif !important;
    font-family: 'Sofia Sans Condensed', sans-serif !important;
}

:root {
    --backgroun: #fff;
    --text-color: #B473D7;
    --text-color2: #ffc478;
    --darkcolor: #343a40;
    --divs-color: #6c757d;
}

.bababoi {
    font-family: Inter;
    scroll-behavior: smooth;
}

.svg169 {
    max-width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.first_section69 header {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 65px;
    align-items: center;
    height: 16%;
}

.first_section69 ul:not(#AccountMenu) {
    display: flex;
    gap: 20px;
    margin-right: 10px;
    align-items: center;
}

.first_section69 ul:not(#AccountMenu) li {
    list-style: none;
}

.first_section69 ul:not(#AccountMenu) li a {
    text-decoration: none;
    color: #000000;
    transition: all .2s ease;
}

.first_section69 ul:not(#AccountMenu) li:nth-child(1) a:hover {
    color: var(--backgroun);
    text-decoration: none;
}

.Login69 {
    font-size: 20px;
    border: 2px solid #000;
    padding: 5px 12px;
    border-radius: 11px;
    color: #000;
    transition: 0.4s ease;
}

.Login69:hover {
    color: var(--backgroun);
    text-decoration: none;
    background-color: transparent;
    border-color: var(--backgroun);
}

.first_section69 h1 {
    font-size: 23px;
    font-family: sans;
    font-weight: bold;
}

.first_section69 {
    background: url('./imgs/Mask\ group.svg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}

.dark-mode69 {
    display: flex;
    gap: 11px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 65px;
    color: white;
}

.section_two69 {
    background: url('./imgs/Untitled.svg');
    width: 100%;
    height: 100vh;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 65px;
}

.section_three69 {
    background: url('./imgs/drawing.svg');
    width: 100%;
    height: 100vh;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 65px;
}

.Content_section69 {
    max-width: 1400px;
    position: absolute;
    padding: 0px 65px;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    top: 16rem;
    height: fit-content;
}

.Content_section69 h2 {
    background: linear-gradient(90deg,#4200FF , #ffffff 3px, #4200FF 1%);
    background-size: 400%;
    background-clip: border-box;

    text-transform: uppercase;
    font-weight: 900;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: gradient 6s infinite;
    letter-spacing: 2px;
    Font-family: sans;
    Font-size: 34px;
    max-width: 1114px;
}


@keyframes gradient {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 150%;
    }
}

.Content_section69 p {
    Font-family: 'Inria Sans';
    Font-Size: 26px;
    text-align: Left;
    max-width: 1225px;
    font-weight: bold;
}

.btns69 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 12%;
    gap: 27px;
    align-items: center;
}

.btns69 a {
    border: 2px solid #4200FF;
    padding: 13px;
    border-radius: 10px;
    color: #4200FF;
    font-size: 19px;
    font-family: sans;
    cursor: pointer;
    transition: .3s ease;
}

.btns69 a:nth-child(2) {
    background-color: #4200FF;
    color: #fff;
    cursor: pointer;
}

.btns69 a:nth-child(1):hover {
    background: #4200FF;
    color: var(--backgroun);
}

/* .btns69 a:nth-child(2):hover {
    border-color: #4200FF;
    background: transparent;
    color: #343a40;
} */


.Content_section269 {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;

}


.svg_class69 {
    background: url('./imgs/Airport-amico.svg');
    height: 76%;
    background-repeat: no-repeat;
    min-width: 50%;
    animation: bomb 3s infinite ease;
}

.svg_class269 {
    max-width: 560px;
    max-height: 527px;
    animation: rotate 20s infinite;
    position: absolute;
    z-index: 0;
    animation: rotate 20s infinite;
}

.Aero69 {
    background: url('./imgs/freepik--Character--inject-16.svg');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 515px;
    min-height: 202px;
    z-index: 1;
    /* animation: bomb 3s infinite ease; */
}


.Content_section369 {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.div_world69 {
    position: relative;
    width: 160%;
    display: grid;
    place-items: center;
}


@keyframes rotate {
    50% {
        rotate: 0;
    }

    100% {
        rotate: 360deg;
    }

}

.world69 {
    background: url('./imgs/world.svg');
    height: 76%;
    background-repeat: no-repeat;
    min-width: 50%;
    animation: bomb 3s infinite ease;
}

@keyframes bomb {

    0%,
    100% {
        transform: translateY(-12px) rotate(4deg);
        transform-origin: left;
    }

    50% {
        transform: translateY(12px) rotate(-2deg);
        transform-origin: right;
    }
}

.Content_section269 p {
    Font-family: sans;
    Font-Size: 25px;
    max-width: 42%;
    letter-spacing: 3px;
}

.mobile69 {
    display: none;
    transition: all .8s;
}

.mobile_nav69 {
    display: none;
}

.active69 {
    width: 100% !important;
    background: #8E66FF !important;
}

.active69 .mobile_nav69 div:nth-child(1) {
    transform-origin: right;
    rotate: -45deg;
    transition: 1s;
}

.active69 .mobile_nav69 div:nth-child(2) {
    opacity: 0;
}

.active69 .mobile_nav69 div:nth-child(3) {
    transform-origin: right;
    rotate: 45deg;
    transition: 1s;
}

.active69 .ul_div69 {
    display: block;
}

.ul_div69 {
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 4rem;
    display: none;
}

.ul_div69 ul {
    display: flex;
    gap: 20px;
    margin-right: 10px;
    align-items: center;
    flex-direction: column;
}




/* Font mnodifier start */
.Content_section269 p, .Content_section369 div p{
    Font-Size: 23px;
    font-weight: 700;
    letter-spacing: 2px;
    width: 60%;
    line-height: 40px;
}



@media ((min-width:1483px) and (max-width: 2600px)) and ((max-height : 946px)) {


    .first_section69 {
        background-position: right;
        background-size: contain;
    }


    .section_two69 {
        background-position: right;
        background-size: contain;
        background-color: #8E66FF;
    }

    .Content_section369 div p {
        Font-family: sans;
        Font-Size: 25px;
        max-width: 60%;
        letter-spacing: 3px;
    }


}

@media (max-width:1488px) {

    .Content_section69 {
        max-width: 1188px;
        position: absolute;
        padding: 0px 65px;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        top: 10rem;
        height: 100%;
    }

    .Content_section69 h2 {
        Font-size: 24px;
    }

    .Content_section69 p {
        Font-family: 'Inria Sans';
        Font-Size: 17px;
        text-align: Left;
        max-width: 694px;
    }

    .btns69 {
        display: flex;
        justify-content: flex-start;
        height: 12%;
        gap: 27px;
        align-items: center;
    }

    .btns69 a {
        border: 2px solid #4200FF;
        padding: 10px;
        border-radius: 10px;
        color: #4200FF;
        font-size: 16px;
        font-family: sans;
        cursor: pointer;
        transition: .3s ease;
        text-decoration: none;
    }

    .Content_section269 {
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 0rem;
    }

    .svg_class69 {
        height: 75%;
        min-width: 60%;

    }

    .Content_section269 p {
        Font-Size: 14px;
        max-width: 436px;
        letter-spacing: 2px;
        margin-right: -2rem;
        line-height: 34px;

    }


}

@media screen and (max-width: 702px) and (orientation: portrait) {


    header {
        position: absolute;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 65px;
        align-items: center;
        height: 15%;
    }

    header h1 {
        font-size: 17px !important;
        font-family: sans;
        font-weight: bold;
        position: absolute;
        top: 15px;
        left: 16px;
    }

    header ul {
        display: none !important;
    }

    .Content_section69 {
        position: absolute;
        height: 85%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 3rem;
        padding: 0 15px;
    }

    .Content_section69 h2 {
        Font-size: 19px;
    }

    .Content_section69 p {
        Font-family: 'Inria Sans';
        Font-Size: 16px;
        text-align: Left;
        max-width: 600px;
        flex: 1;
    }

    .btns69 {
        display: flex;
        width: 100%;
        flex-grow: 1;
        gap: 10px;
        flex-direction: column;
        align-items: flex-start;
        height: 0%;
    }



    .btns69 a:nth-child(1) {
        border: 1px solid #4200FF;
        padding: 10px;
        border-radius: 9px;
        text-align: center;
        transition: 0.5s all;
        cursor: pointer;
        max-width: 205px;
    }

    .btns69 a:nth-child(2) {
        border: 1px solid #4200FF;
        padding: 10px;
        border-radius: 9px;
        text-align: center;
        transition: 0.5s all;
        cursor: pointer;
        max-width: 150px;
    }

    .svg_class69 {
        display: none
    }

    .Content_section269 p {
        Font-Size: 15px;
    }

    .mobile_nav69 {
        display: flex;
        flex-direction: column;
        gap: 3px;
        position: absolute;
        top: 16px;
        cursor: pointer;
        width: 100%;
    }

    .mobile69 {
        width: 12%;
        height: 100%;
        background: transparent;
        position: absolute;
        z-index: 100;
        overflow: hidden;
        right: 0;
        display: block;
    }

    .mobile_nav69 div {
        width: 18px;
        height: 3px;
        background-color: #262626;
    }

    .div_world69 {
        display: none;
    }

    .section_three69 {
        background-position: top;
        background-size: cover;
    }

    .Content_section369 {
        display: grid;
        place-content: center;
    }

    .Content_section369 div p {
        Font-Size: 14px;
        letter-spacing: 2px;
        width: 98%;
        line-height: 46px;
    }

    .Content_section369>div:nth-child(1) {
        z-index: 100;
    }

    .div_world69 {
        z-index: 0;
        position: absolute;
        width: 160%;
        height: 100%;
        display: grid;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        place-items: center;
        overflow: hidden;
        opacity: 0.7;
    }

    .div_world69 .Aero69 {
        display: none;
    }

    .div_world69 .svg_class269 {
        max-width: 470px;
        max-height: 527px;
        position: absolute;
        z-index: 0;
        animation: rotate 20s infinite;
        opacity: 0.66;
    }

}