.RequestPage  {
    height: 30%;
    background: url('/public/Images/Footer.svg') !important;
    background-size: cover;
    display: flex;
}

.RequestPage  > div {
    width: 20%;
    height: 100px;
    margin: 0 10px;
    transform: translate(100px, 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.RequestPage > div h3 {
    align-self: self-start;
    margin-left: 40px;
    color: #4200FF;
}

.RequestPage > div > div {
    font-weight: 600;
}