/* NAV BAR START */
.airport_nav_bar{
    background-color: var(--purple);
    padding: 2vh 2.5vh;
    border-radius: 0 0 2vh 2vh;
    height: 6vh;
    min-width: 40vh;


    display: flex;
    justify-content: space-between;
}


.airport_nav_bar > h4, .airport_nav_bar > h4 > a {
    color: white;
    font-size: 2vh;
}



.airport_nav_bar > div{
    background-color: white;
    border-radius: 3vh;
    margin: -1vh;
    width: 4vh;
    height: 4vh;
}

/* NAV BAR END */