* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

#RequestPage {
    /* height: 200vh; */
    background-color: #FFFFFF;
}

#RequestPage {
    width: 100%;
    display: flex;
    align-items: end;
}

#RequestPage > div:first-of-type {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#RequestPage > div:first-of-type > div:first-of-type {
    height: 50%;
    margin: 20% 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#RequestPage > div:first-of-type > div:first-of-type > h2 {
    text-align: center;
}

#RequestPage > div:first-of-type > div:first-of-type > form {
    height: 90%;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(12, 1fr);
    row-gap: 3vh;
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:first-of-type {
    grid-area: 2 / 2 / span 5 / span 9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:first-of-type textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 85%;
    max-height: 85%;
    padding: 10px;
    font-size: 1.1rem;
    border: 2px solid rgb(118, 118, 118);
    border-radius: 5px;
    color: rgb(110 110 110);
    background-color: rgba(245, 245, 245, 0.69);
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:nth-child(2) {
    grid-area: 8 / 2 / span 2 / span 5;
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:last-of-type {
    grid-area: 8 / 6 / span 2 / span 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:first-of-type label {
    font-size: .9rem;
    font-weight: 600;
    color: rgb(110 110 110);
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:nth-child(2) > div {
    width: 70%;
    height: 50px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(116, 116, 116);
    border-radius: 30px;
    background: rgb(255 255 255 / 75%);
    cursor: pointer;
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:nth-child(2) > div:active {
    background: rgba(255, 255, 255, 0.249);
    
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:nth-child(2) > div * {
    margin: 0 5px;
    font-weight: 600;
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:nth-child(2) > div span {
    font-size: 1.5rem;
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:last-of-type button {
    padding: 12px 55px;
    font-size: 1.2rem;
    border-radius: 30px;
    font-weight: 600;
    border: none;
    background: #a304f5;
    color: white;
    cursor: pointer;
}

#RequestPage > div:first-of-type > div:first-of-type > form > div:last-of-type button:active {
    background: #a603f7e5;
}



/* Footer Start */

/* Footer END */