.bababoi{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(12deg,#8E66FF 50%, rgba(66, 0, 255, 0) 50%);
}
.main69{
	width: 350px;
	height: 540px;
	background: #FFFF;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0px 2px 10px #0000009e;
}
#chk{
	display: none;
}
.signup69{
	position: relative;
	width:100%;
	height: 100%;
}
.login69 label, .signup69 label{
	color: #000;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.login69 input, .signup69 input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	border: none;
	outline: none;
	border-radius: 5px;
	margin: 8px auto;
	padding: 15px;
}

.login69 button, .signup69 button{
	position: relative;
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
.login69:hover, .signup69 button:hover{
	background: #6d44b8;
}
.login69{
	height: 560px;
	background: #8E66FF;
	border-radius: 60% / 10%;
	transform: translateY(-210px);
	transition: .8s ease-in-out;
}
.login69 label{
	color: #fff;
	transform: scale(.6);
}

#chk:checked ~ .login69{
	transform: translateY(-620px);
}
#chk:checked ~ .login69 label{
	transform: scale(1) translateY(2rem);
	font-size: 1.8rem;
}
#chk:checked ~ .signup69 label{
	transform: translateY(-4rem) scale(.6);
	opacity: 0.6;
}

/* For Spining Icon START */

.ZaSpinner{
	
	animation-name: cubSpin ;
	animation-duration: 500ms;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}

@keyframes cubSpin {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
  }


.loading {
	position: relative;
	margin-right: 2vh;
  }
  
  .loading .dots {
	position: absolute;
	left: 90%;
	top: 20%;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .loading .dots span {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	background-color: white;
	animation: dot 1s infinite linear;
  }
  
  .loading .dots span:nth-child(1) {
	animation-delay: 0s;
  }
  
  .loading .dots span:nth-child(2) {
	animation-delay: 0.2s;
  }
  
  .loading .dots span:nth-child(3) {
	animation-delay: 0.4s;
  }
  
  @keyframes dot {
	0% {
	  /* transform: scale(1); */
	  opacity: 1;
	}
	50% {
	  /* transform: scale(1.5); */
	  opacity: 0.2;
	}
	100% {
	  /* transform: scale(1); */
	  opacity: 1;
	}
  }
  

/* For Spining Icon END */